
/_xmsgs/
/frame_data_v6_rbt_out.txt
/fsl_v20_summary.html
/fuse.log
/fuse.xmsgs
/hwt_tb_beh.prj
/hwt_tb_isim_beh.exe
/hwt_tb_isim_beh.wdb
/hwt_tb_isim_beh1.wdb
/hwt_tb_isim_beh2.wdb
/hwt_tb_stx_beh.prj
/hwtsim.gise
/iseconfig/
/isim.log
/isim/
/xilinxsim.ini

