(edif test (edifVersion 2 0 0) (edifLevel 0) (keywordMap (keywordLevel 0))
(status (written (timeStamp 2011 12 21 17 30 57)
   (author "Xilinx, Inc.")
   (program "Xilinx CORE Generator" (version "Xilinx CORE Generator 6.1i"))))
   (comment "                                                                                
      This file is owned and controlled by Xilinx and must be used              
      solely for design, simulation, implementation and creation of             
      design files limited to Xilinx devices or technologies. Use               
      with non-Xilinx devices or technologies is expressly prohibited           
      and immediately terminates your license.                                  
                                                                                
      XILINX IS PROVIDING THIS DESIGN, CODE, OR INFORMATION 'AS IS'             
      SOLELY FOR USE IN DEVELOPING PROGRAMS AND SOLUTIONS FOR                   
      XILINX DEVICES.  BY PROVIDING THIS DESIGN, CODE, OR INFORMATION           
      AS ONE POSSIBLE IMPLEMENTATION OF THIS FEATURE, APPLICATION               
      OR STANDARD, XILINX IS MAKING NO REPRESENTATION THAT THIS                 
      IMPLEMENTATION IS FREE FROM ANY CLAIMS OF INFRINGEMENT,                   
      AND YOU ARE RESPONSIBLE FOR OBTAINING ANY RIGHTS YOU MAY REQUIRE          
      FOR YOUR IMPLEMENTATION.  XILINX EXPRESSLY DISCLAIMS ANY                  
      WARRANTY WHATSOEVER WITH RESPECT TO THE ADEQUACY OF THE                   
      IMPLEMENTATION, INCLUDING BUT NOT LIMITED TO ANY WARRANTIES OR            
      REPRESENTATIONS THAT THIS IMPLEMENTATION IS FREE FROM CLAIMS OF           
      INFRINGEMENT, IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS           
      FOR A PARTICULAR PURPOSE.                                                 
                                                                                
      Xilinx products are not intended for use in life support                  
      appliances, devices, or systems. Use in such applications are             
      expressly prohibited.                                                     
                                                                                
      (c) Copyright 1995-2009 Xilinx, Inc.                                      
      All rights reserved.                                                      
                                                                                
   ")
   (comment "Core parameters: ")
       (comment "c_has_int_clk = 0 ")
       (comment "c_wr_response_latency = 1 ")
       (comment "c_rd_freq = 1 ")
       (comment "c_has_srst = 0 ")
       (comment "c_enable_rst_sync = 1 ")
       (comment "c_has_rd_data_count = 0 ")
       (comment "c_din_width = 6 ")
       (comment "c_has_wr_data_count = 0 ")
       (comment "c_full_flags_rst_val = 0 ")
       (comment "InstanceName = ethernet_mac_wrapper_fifo_generator_v6_1 ")
       (comment "c_implementation_type = 2 ")
       (comment "c_family = virtex6 ")
       (comment "c_use_embedded_reg = 0 ")
       (comment "c_has_wr_rst = 0 ")
       (comment "c_wr_freq = 1 ")
       (comment "c_use_dout_rst = 1 ")
       (comment "c_underflow_low = 0 ")
       (comment "c_has_meminit_file = 0 ")
       (comment "c_has_overflow = 0 ")
       (comment "c_preload_latency = 1 ")
       (comment "c_dout_width = 6 ")
       (comment "c_msgon_val = 1 ")
       (comment "c_rd_depth = 16 ")
       (comment "c_default_value = BlankString ")
       (comment "c_mif_file_name = BlankString ")
       (comment "c_error_injection_type = 0 ")
       (comment "c_has_underflow = 0 ")
       (comment "c_has_rd_rst = 0 ")
       (comment "c_has_almost_full = 0 ")
       (comment "c_has_rst = 1 ")
       (comment "c_data_count_width = 2 ")
       (comment "c_has_wr_ack = 0 ")
       (comment "c_use_ecc = 0 ")
       (comment "c_wr_ack_low = 0 ")
       (comment "c_common_clock = 0 ")
       (comment "c_rd_pntr_width = 4 ")
       (comment "c_use_fwft_data_count = 0 ")
       (comment "c_has_almost_empty = 0 ")
       (comment "c_rd_data_count_width = 2 ")
       (comment "c_enable_rlocs = 0 ")
       (comment "c_wr_pntr_width = 4 ")
       (comment "c_overflow_low = 0 ")
       (comment "c_prog_empty_type = 0 ")
       (comment "c_optimization_mode = 0 ")
       (comment "c_wr_data_count_width = 2 ")
       (comment "c_preload_regs = 0 ")
       (comment "c_dout_rst_val = 0 ")
       (comment "c_has_data_count = 0 ")
       (comment "c_prog_full_thresh_negate_val = 12 ")
       (comment "c_wr_depth = 16 ")
       (comment "c_prog_empty_thresh_negate_val = 3 ")
       (comment "c_prog_empty_thresh_assert_val = 2 ")
       (comment "c_has_valid = 1 ")
       (comment "c_init_wr_pntr_val = 0 ")
       (comment "c_prog_full_thresh_assert_val = 13 ")
       (comment "c_use_fifo16_flags = 0 ")
       (comment "c_has_backup = 0 ")
       (comment "c_valid_low = 0 ")
       (comment "c_prim_fifo_type = 512x36 ")
       (comment "c_count_type = 0 ")
       (comment "c_prog_full_type = 0 ")
       (comment "c_memory_type = 2 ")
   (external xilinxun (edifLevel 0)
      (technology (numberDefinition))
       (cell VCC (cellType GENERIC)
           (view view_1 (viewType NETLIST)
               (interface
                   (port P (direction OUTPUT))
               )
           )
       )
       (cell GND (cellType GENERIC)
           (view view_1 (viewType NETLIST)
               (interface
                   (port G (direction OUTPUT))
               )
           )
       )
   )
   (external ethernet_mac_wrapper_fifo_generator_v6_1_fifo_generator_v6_1_xst_1_lib (edifLevel 0)
       (technology (numberDefinition))
       (cell ethernet_mac_wrapper_fifo_generator_v6_1_fifo_generator_v6_1_xst_1 (cellType GENERIC)
           (view view_1 (viewType NETLIST)
               (interface
                   (port clk (direction INPUT))
                   (port backup (direction INPUT))
                   (port backup_marker (direction INPUT))
                   (port ( array ( rename din "din<5:0>") 6 ) (direction INPUT))
                   (port ( array ( rename prog_empty_thresh "prog_empty_thresh<3:0>") 4 ) (direction INPUT))
                   (port ( array ( rename prog_empty_thresh_assert "prog_empty_thresh_assert<3:0>") 4 ) (direction INPUT))
                   (port ( array ( rename prog_empty_thresh_negate "prog_empty_thresh_negate<3:0>") 4 ) (direction INPUT))
                   (port ( array ( rename prog_full_thresh "prog_full_thresh<3:0>") 4 ) (direction INPUT))
                   (port ( array ( rename prog_full_thresh_assert "prog_full_thresh_assert<3:0>") 4 ) (direction INPUT))
                   (port ( array ( rename prog_full_thresh_negate "prog_full_thresh_negate<3:0>") 4 ) (direction INPUT))
                   (port rd_clk (direction INPUT))
                   (port rd_en (direction INPUT))
                   (port rd_rst (direction INPUT))
                   (port rst (direction INPUT))
                   (port srst (direction INPUT))
                   (port int_clk (direction INPUT))
                   (port wr_clk (direction INPUT))
                   (port wr_en (direction INPUT))
                   (port wr_rst (direction INPUT))
                   (port injectdbiterr (direction INPUT))
                   (port injectsbiterr (direction INPUT))
                   (port almost_empty (direction OUTPUT))
                   (port almost_full (direction OUTPUT))
                   (port ( array ( rename data_count "data_count<1:0>") 2 ) (direction OUTPUT))
                   (port ( array ( rename dout "dout<5:0>") 6 ) (direction OUTPUT))
                   (port empty (direction OUTPUT))
                   (port full (direction OUTPUT))
                   (port overflow (direction OUTPUT))
                   (port prog_empty (direction OUTPUT))
                   (port prog_full (direction OUTPUT))
                   (port valid (direction OUTPUT))
                   (port ( array ( rename rd_data_count "rd_data_count<1:0>") 2 ) (direction OUTPUT))
                   (port underflow (direction OUTPUT))
                   (port wr_ack (direction OUTPUT))
                   (port ( array ( rename wr_data_count "wr_data_count<1:0>") 2 ) (direction OUTPUT))
                   (port sbiterr (direction OUTPUT))
                   (port dbiterr (direction OUTPUT))
               )
           )
       )
   )
(library test_lib (edifLevel 0) (technology (numberDefinition (scale 1 (E 1 -12) (unit Time))))
(cell ethernet_mac_wrapper_fifo_generator_v6_1
 (cellType GENERIC) (view view_1 (viewType NETLIST)
  (interface
   (port ( rename backup "backup") (direction INPUT))
   (port ( rename backup_marker "backup_marker") (direction INPUT))
   (port ( rename clk "clk") (direction INPUT))
   (port ( rename rst "rst") (direction INPUT))
   (port ( rename srst "srst") (direction INPUT))
   (port ( rename wr_clk "wr_clk") (direction INPUT))
   (port ( rename wr_rst "wr_rst") (direction INPUT))
   (port ( rename rd_clk "rd_clk") (direction INPUT))
   (port ( rename rd_rst "rd_rst") (direction INPUT))
   (port ( rename din_5_ "din<5>") (direction INPUT))
   (port ( rename din_4_ "din<4>") (direction INPUT))
   (port ( rename din_3_ "din<3>") (direction INPUT))
   (port ( rename din_2_ "din<2>") (direction INPUT))
   (port ( rename din_1_ "din<1>") (direction INPUT))
   (port ( rename din_0_ "din<0>") (direction INPUT))
   (port ( rename wr_en "wr_en") (direction INPUT))
   (port ( rename rd_en "rd_en") (direction INPUT))
   (port ( rename prog_empty_thresh_3_ "prog_empty_thresh<3>") (direction INPUT))
   (port ( rename prog_empty_thresh_2_ "prog_empty_thresh<2>") (direction INPUT))
   (port ( rename prog_empty_thresh_1_ "prog_empty_thresh<1>") (direction INPUT))
   (port ( rename prog_empty_thresh_0_ "prog_empty_thresh<0>") (direction INPUT))
   (port ( rename prog_empty_thresh_assert_3_ "prog_empty_thresh_assert<3>") (direction INPUT))
   (port ( rename prog_empty_thresh_assert_2_ "prog_empty_thresh_assert<2>") (direction INPUT))
   (port ( rename prog_empty_thresh_assert_1_ "prog_empty_thresh_assert<1>") (direction INPUT))
   (port ( rename prog_empty_thresh_assert_0_ "prog_empty_thresh_assert<0>") (direction INPUT))
   (port ( rename prog_empty_thresh_negate_3_ "prog_empty_thresh_negate<3>") (direction INPUT))
   (port ( rename prog_empty_thresh_negate_2_ "prog_empty_thresh_negate<2>") (direction INPUT))
   (port ( rename prog_empty_thresh_negate_1_ "prog_empty_thresh_negate<1>") (direction INPUT))
   (port ( rename prog_empty_thresh_negate_0_ "prog_empty_thresh_negate<0>") (direction INPUT))
   (port ( rename prog_full_thresh_3_ "prog_full_thresh<3>") (direction INPUT))
   (port ( rename prog_full_thresh_2_ "prog_full_thresh<2>") (direction INPUT))
   (port ( rename prog_full_thresh_1_ "prog_full_thresh<1>") (direction INPUT))
   (port ( rename prog_full_thresh_0_ "prog_full_thresh<0>") (direction INPUT))
   (port ( rename prog_full_thresh_assert_3_ "prog_full_thresh_assert<3>") (direction INPUT))
   (port ( rename prog_full_thresh_assert_2_ "prog_full_thresh_assert<2>") (direction INPUT))
   (port ( rename prog_full_thresh_assert_1_ "prog_full_thresh_assert<1>") (direction INPUT))
   (port ( rename prog_full_thresh_assert_0_ "prog_full_thresh_assert<0>") (direction INPUT))
   (port ( rename prog_full_thresh_negate_3_ "prog_full_thresh_negate<3>") (direction INPUT))
   (port ( rename prog_full_thresh_negate_2_ "prog_full_thresh_negate<2>") (direction INPUT))
   (port ( rename prog_full_thresh_negate_1_ "prog_full_thresh_negate<1>") (direction INPUT))
   (port ( rename prog_full_thresh_negate_0_ "prog_full_thresh_negate<0>") (direction INPUT))
   (port ( rename int_clk "int_clk") (direction INPUT))
   (port ( rename injectdbiterr "injectdbiterr") (direction INPUT))
   (port ( rename injectsbiterr "injectsbiterr") (direction INPUT))
   (port ( rename dout_5_ "dout<5>") (direction OUTPUT))
   (port ( rename dout_4_ "dout<4>") (direction OUTPUT))
   (port ( rename dout_3_ "dout<3>") (direction OUTPUT))
   (port ( rename dout_2_ "dout<2>") (direction OUTPUT))
   (port ( rename dout_1_ "dout<1>") (direction OUTPUT))
   (port ( rename dout_0_ "dout<0>") (direction OUTPUT))
   (port ( rename full "full") (direction OUTPUT))
   (port ( rename almost_full "almost_full") (direction OUTPUT))
   (port ( rename wr_ack "wr_ack") (direction OUTPUT))
   (port ( rename overflow "overflow") (direction OUTPUT))
   (port ( rename empty "empty") (direction OUTPUT))
   (port ( rename almost_empty "almost_empty") (direction OUTPUT))
   (port ( rename valid "valid") (direction OUTPUT))
   (port ( rename underflow "underflow") (direction OUTPUT))
   (port ( rename data_count_1_ "data_count<1>") (direction OUTPUT))
   (port ( rename data_count_0_ "data_count<0>") (direction OUTPUT))
   (port ( rename rd_data_count_1_ "rd_data_count<1>") (direction OUTPUT))
   (port ( rename rd_data_count_0_ "rd_data_count<0>") (direction OUTPUT))
   (port ( rename wr_data_count_1_ "wr_data_count<1>") (direction OUTPUT))
   (port ( rename wr_data_count_0_ "wr_data_count<0>") (direction OUTPUT))
   (port ( rename prog_full "prog_full") (direction OUTPUT))
   (port ( rename prog_empty "prog_empty") (direction OUTPUT))
   (port ( rename sbiterr "sbiterr") (direction OUTPUT))
   (port ( rename dbiterr "dbiterr") (direction OUTPUT))
   )
  (contents
   (instance VCC (viewRef view_1 (cellRef VCC  (libraryRef xilinxun))))
   (instance GND (viewRef view_1 (cellRef GND  (libraryRef xilinxun))))
   (instance BU3
      (viewRef view_1 (cellRef ethernet_mac_wrapper_fifo_generator_v6_1_fifo_generator_v6_1_xst_1 (libraryRef ethernet_mac_wrapper_fifo_generator_v6_1_fifo_generator_v6_1_xst_1_lib)))
   )
   (net (rename N5 "rst")
    (joined
      (portRef rst)
      (portRef rst (instanceRef BU3))
    )
   )
   (net (rename N7 "wr_clk")
    (joined
      (portRef wr_clk)
      (portRef wr_clk (instanceRef BU3))
    )
   )
   (net (rename N9 "rd_clk")
    (joined
      (portRef rd_clk)
      (portRef rd_clk (instanceRef BU3))
    )
   )
   (net (rename N11 "din<5>")
    (joined
      (portRef din_5_)
      (portRef (member din 0) (instanceRef BU3))
    )
   )
   (net (rename N12 "din<4>")
    (joined
      (portRef din_4_)
      (portRef (member din 1) (instanceRef BU3))
    )
   )
   (net (rename N13 "din<3>")
    (joined
      (portRef din_3_)
      (portRef (member din 2) (instanceRef BU3))
    )
   )
   (net (rename N14 "din<2>")
    (joined
      (portRef din_2_)
      (portRef (member din 3) (instanceRef BU3))
    )
   )
   (net (rename N15 "din<1>")
    (joined
      (portRef din_1_)
      (portRef (member din 4) (instanceRef BU3))
    )
   )
   (net (rename N16 "din<0>")
    (joined
      (portRef din_0_)
      (portRef (member din 5) (instanceRef BU3))
    )
   )
   (net (rename N17 "wr_en")
    (joined
      (portRef wr_en)
      (portRef wr_en (instanceRef BU3))
    )
   )
   (net (rename N18 "rd_en")
    (joined
      (portRef rd_en)
      (portRef rd_en (instanceRef BU3))
    )
   )
   (net (rename N46 "dout<5>")
    (joined
      (portRef dout_5_)
      (portRef (member dout 0) (instanceRef BU3))
    )
   )
   (net (rename N47 "dout<4>")
    (joined
      (portRef dout_4_)
      (portRef (member dout 1) (instanceRef BU3))
    )
   )
   (net (rename N48 "dout<3>")
    (joined
      (portRef dout_3_)
      (portRef (member dout 2) (instanceRef BU3))
    )
   )
   (net (rename N49 "dout<2>")
    (joined
      (portRef dout_2_)
      (portRef (member dout 3) (instanceRef BU3))
    )
   )
   (net (rename N50 "dout<1>")
    (joined
      (portRef dout_1_)
      (portRef (member dout 4) (instanceRef BU3))
    )
   )
   (net (rename N51 "dout<0>")
    (joined
      (portRef dout_0_)
      (portRef (member dout 5) (instanceRef BU3))
    )
   )
   (net (rename N52 "full")
    (joined
      (portRef full)
      (portRef full (instanceRef BU3))
    )
   )
   (net (rename N56 "empty")
    (joined
      (portRef empty)
      (portRef empty (instanceRef BU3))
    )
   )
   (net (rename N58 "valid")
    (joined
      (portRef valid)
      (portRef valid (instanceRef BU3))
    )
   )
))))
(design ethernet_mac_wrapper_fifo_generator_v6_1 (cellRef ethernet_mac_wrapper_fifo_generator_v6_1 (libraryRef test_lib))
  (property X_CORE_INFO (string "null"))
  (property PART (string "XC6VLX75T-3-ff484") (owner "Xilinx"))
))
