## Default area constraints for 14 reconfigurable hardware threads

#INST "hwt_reconf_3" AREA_GROUP = "pblock_hwt_reconf_3";
#AREA_GROUP "pblock_hwt_reconf_3" RANGE=SLICE_X32Y100:SLICE_X43Y149;
#AREA_GROUP "pblock_hwt_reconf_3" RANGE=DSP48_X2Y40:DSP48_X2Y59;
#AREA_GROUP "pblock_hwt_reconf_3" RANGE=RAMB18_X2Y40:RAMB18_X2Y59;
#AREA_GROUP "pblock_hwt_reconf_3" RANGE=RAMB36_X2Y20:RAMB36_X2Y29;
#INST "hwt_reconf_0" AREA_GROUP = "pblock_hwt_reconf_0";
#AREA_GROUP "pblock_hwt_reconf_0" RANGE=SLICE_X82Y100:SLICE_X93Y149;
#AREA_GROUP "pblock_hwt_reconf_0" RANGE=DSP48_X3Y40:DSP48_X3Y59;
#AREA_GROUP "pblock_hwt_reconf_0" RANGE=RAMB18_X4Y40:RAMB18_X4Y59;
#AREA_GROUP "pblock_hwt_reconf_0" RANGE=RAMB36_X4Y20:RAMB36_X4Y29;
#INST "hwt_reconf_5" AREA_GROUP = "pblock_hwt_reconf_5";
#AREA_GROUP "pblock_hwt_reconf_5" RANGE=SLICE_X102Y100:SLICE_X113Y149;
#AREA_GROUP "pblock_hwt_reconf_5" RANGE=DSP48_X4Y40:DSP48_X4Y59;
#AREA_GROUP "pblock_hwt_reconf_5" RANGE=RAMB18_X5Y40:RAMB18_X5Y59;
#AREA_GROUP "pblock_hwt_reconf_5" RANGE=RAMB36_X5Y20:RAMB36_X5Y29;
#INST "hwt_reconf_4" AREA_GROUP = "pblock_hwt_reconf_4";
#AREA_GROUP "pblock_hwt_reconf_4" RANGE=SLICE_X32Y50:SLICE_X43Y99;
#AREA_GROUP "pblock_hwt_reconf_4" RANGE=DSP48_X2Y20:DSP48_X2Y39;
#AREA_GROUP "pblock_hwt_reconf_4" RANGE=RAMB18_X2Y20:RAMB18_X2Y39;
#AREA_GROUP "pblock_hwt_reconf_4" RANGE=RAMB36_X2Y10:RAMB36_X2Y19;
#INST "hwt_reconf_1" AREA_GROUP = "pblock_hwt_reconf_1";
#AREA_GROUP "pblock_hwt_reconf_1" RANGE=SLICE_X82Y50:SLICE_X93Y99;
#AREA_GROUP "pblock_hwt_reconf_1" RANGE=DSP48_X3Y20:DSP48_X3Y39;
#AREA_GROUP "pblock_hwt_reconf_1" RANGE=RAMB18_X4Y20:RAMB18_X4Y39;
#AREA_GROUP "pblock_hwt_reconf_1" RANGE=RAMB36_X4Y10:RAMB36_X4Y19;
#INST "hwt_reconf_6" AREA_GROUP = "pblock_hwt_reconf_6";
#AREA_GROUP "pblock_hwt_reconf_6" RANGE=SLICE_X102Y50:SLICE_X113Y99;
#AREA_GROUP "pblock_hwt_reconf_6" RANGE=DSP48_X4Y20:DSP48_X4Y39;
#AREA_GROUP "pblock_hwt_reconf_6" RANGE=RAMB18_X5Y20:RAMB18_X5Y39;
#AREA_GROUP "pblock_hwt_reconf_6" RANGE=RAMB36_X5Y10:RAMB36_X5Y19;
#INST "hwt_reconf_7" AREA_GROUP = "pblock_hwt_reconf_7";
#AREA_GROUP "pblock_hwt_reconf_7" RANGE=SLICE_X102Y0:SLICE_X113Y49;
#AREA_GROUP "pblock_hwt_reconf_7" RANGE=DSP48_X4Y0:DSP48_X4Y19;
#AREA_GROUP "pblock_hwt_reconf_7" RANGE=RAMB18_X5Y0:RAMB18_X5Y19;
#AREA_GROUP "pblock_hwt_reconf_7" RANGE=RAMB36_X5Y0:RAMB36_X5Y9;
#INST "hwt_reconf_8" AREA_GROUP = "pblock_hwt_reconf_8";
#AREA_GROUP "pblock_hwt_reconf_8" RANGE=SLICE_X82Y0:SLICE_X93Y49;
#AREA_GROUP "pblock_hwt_reconf_8" RANGE=DSP48_X3Y0:DSP48_X3Y19;
#AREA_GROUP "pblock_hwt_reconf_8" RANGE=RAMB18_X4Y0:RAMB18_X4Y19;
#AREA_GROUP "pblock_hwt_reconf_8" RANGE=RAMB36_X4Y0:RAMB36_X4Y9;
#INST "hwt_reconf_2" AREA_GROUP = "pblock_hwt_reconf_2";
#AREA_GROUP "pblock_hwt_reconf_2" RANGE=SLICE_X32Y0:SLICE_X43Y49;
#AREA_GROUP "pblock_hwt_reconf_2" RANGE=DSP48_X2Y0:DSP48_X2Y19;
#AREA_GROUP "pblock_hwt_reconf_2" RANGE=RAMB18_X2Y0:RAMB18_X2Y19;
#AREA_GROUP "pblock_hwt_reconf_2" RANGE=RAMB36_X2Y0:RAMB36_X2Y9;
#INST "hwt_reconf_10" AREA_GROUP = "pblock_hwt_reconf_10";
#AREA_GROUP "pblock_hwt_reconf_10" RANGE=SLICE_X0Y0:SLICE_X11Y49;
#AREA_GROUP "pblock_hwt_reconf_10" RANGE=DSP48_X0Y0:DSP48_X0Y19;
#AREA_GROUP "pblock_hwt_reconf_10" RANGE=RAMB18_X0Y0:RAMB18_X0Y19;
#AREA_GROUP "pblock_hwt_reconf_10" RANGE=RAMB36_X0Y0:RAMB36_X0Y9;
#INST "hwt_reconf_9" AREA_GROUP = "pblock_hwt_reconf_9";
#AREA_GROUP "pblock_hwt_reconf_9" RANGE=SLICE_X16Y0:SLICE_X27Y49;
#AREA_GROUP "pblock_hwt_reconf_9" RANGE=DSP48_X1Y0:DSP48_X1Y19;
#AREA_GROUP "pblock_hwt_reconf_9" RANGE=RAMB18_X1Y0:RAMB18_X1Y19;
#AREA_GROUP "pblock_hwt_reconf_9" RANGE=RAMB36_X1Y0:RAMB36_X1Y9;

#AREA_GROUP "pblock_hwt_reconf_0" INCLUSIVE=ROUTE;
#AREA_GROUP "pblock_hwt_reconf_1" INCLUSIVE=ROUTE;
#AREA_GROUP "pblock_hwt_reconf_2" INCLUSIVE=ROUTE;
#AREA_GROUP "pblock_hwt_reconf_3" INCLUSIVE=ROUTE;
#AREA_GROUP "pblock_hwt_reconf_4" INCLUSIVE=ROUTE;
#AREA_GROUP "pblock_hwt_reconf_5" INCLUSIVE=ROUTE;
#AREA_GROUP "pblock_hwt_reconf_6" INCLUSIVE=ROUTE;
#AREA_GROUP "pblock_hwt_reconf_7" INCLUSIVE=ROUTE;
#AREA_GROUP "pblock_hwt_reconf_8" INCLUSIVE=ROUTE;
#AREA_GROUP "pblock_hwt_reconf_9" INCLUSIVE=ROUTE;
#AREA_GROUP "pblock_hwt_reconf_10" INCLUSIVE=ROUTE;

NET "processing_system7_0_FCLK_CLK0" TNM_NET = "ps7_fclk_clk0";
TIMESPEC TS_ps7_fclk_clk0 = PERIOD "ps7_fclk_clk0" 100 MHz;

