
/syn/static/*.ngc
/syn/pr_a/*.ngc
/syn/pr_b/*.ngc

/bitfiles/_impactbatch.log
/bitfiles/*.bit
/bitfiles/*.bin
/bitfiles/_impact.log
/bitfiles/impact.xsl
/bitfiles/impact_impact.xwbt
/bitfiles/usage_statistics_webtalk.html
/bitfiles/webtalk.log
/bitfiles/webtalk_impact.xml
/imp/config_pr_*/_xmsgs/
/imp/config_pr_*/_impact.log
/imp/config_pr_*/_impactbatch.log
/imp/config_pr_*/impact.rbd
/imp/config_pr_*/system.msd
/imp/config_pr_*/system.msk
/imp/config_pr_*/system.rba
/imp/config_pr_*/system.rbb
/imp/config_pr_*/system.rbd
/imp/config_pr_*/system.rbt
/imp/config_pr_*/system.bgn
/imp/config_pr_*/system.bit
/imp/config_pr_*/system.bld
/imp/config_pr_*/system.drc
/imp/config_pr_*/system.ncd
/imp/config_pr_*/system.ngd
/imp/config_pr_*/system.pad
/imp/config_pr_*/system.par
/imp/config_pr_*/system.pcf
/imp/config_pr_*/system.ptwx
/imp/config_pr_*/system.unroutes
/imp/config_pr_*/system.xpi
/imp/config_pr_*/system_bitgen.xwbt
/imp/config_pr_*/system_hwt_pr_block_*_hwt_pr_*_partial.bgn
/imp/config_pr_*/system_hwt_pr_block_*_hwt_pr_*_partial.bit
/imp/config_pr_*/system_hwt_pr_block_*_hwt_pr_*_partial.drc
/imp/config_pr_a/system_hwt_pr_block_*_hwt_pr_*_partial.msd
/imp/config_pr_*/system_hwt_pr_block_*_hwt_pr_*_partial.msk
/imp/config_pr_*/system_hwt_pr_block_*_hwt_pr_*_partial.rba
/imp/config_pr_*/system_hwt_pr_block_*_hwt_pr_*_partial.rbb
/imp/config_pr_*/system_hwt_pr_block_*_hwt_pr_*_partial.rbd
/imp/config_pr_*/system_hwt_pr_block_*_hwt_pr_*_partial.rbt
/imp/config_pr_*/system_map.map
/imp/config_pr_*/system_map.ncd
/imp/config_pr_*/system_map.mrp
/imp/config_pr_*/system_map.ngm
/imp/config_pr_*/system_map.xrpt
/imp/config_pr_*/system_map_prev_mapped.ncd
/imp/config_pr_*/system_map_prev_mapped.ngm
/imp/config_pr_*/system_ngdbuild.xrpt
/imp/config_pr_*/system_pad.csv
/imp/config_pr_*/system_pad.txt
/imp/config_pr_*/system_par.xrpt
/imp/config_pr_*/system_prev_built.ngd
/imp/config_pr_*/system_prev_routed.ncd
/imp/config_pr_*/system_summary.xml
/imp/config_pr_*/system_usage.xml
/imp/config_pr_*/usage_statistics_webtalk.html
/imp/config_pr_*/webtalk.log
/imp/config_pr_*/xlnx_auto_0_xdb/
/syn/static/_xmsgs/

